*{
    margin:0;
    padding:0;
    font-family: Tahoma, sans-serif;
}
body {
    width:100%;
}
.akapit {
    line-height: 20px;
    vertical-align: middle;
    /* top:45%; */
}
.obrazek {
    vertical-align: middle;
    height:20px;
    position: relative;
    top:-2px;
}

.flexbox {
    justify-content: space-around;
    display:flex;
    align-items: center;
}
.ikonka {

}
.ikonka-calendar {
    height:10px;
}
.calosc {
}
.a{
 
    text-align:center;
}
.b {
    display:flex;
    justify-content: center;
}


.separator {
    background-color: rgb(229,231,233);
    /* height:100px; */
    /* height:163px; */
    text-align: center;
}
.mainmenu{
    height:70px;
    background-color: rgb(29,66,134);
    position: sticky;
    top: 0;
}
.gametabs {
    height:70px;
    background-color: rgb(11,21,60);
}
.gamemenu {
    padding:5px;
    display:flex;
    align-items: center;
    background-color: rgb(0,9,45);
}
.gamemenu__button {
    background-repeat: no-repeat;
    height:21px;
    width:13px;
    flex:3;  
    background-size: contain;
    cursor: pointer;
}

.gamemenu__previous {
    /* margin-right:20%; */

    background-image: url('images/arrow_left.png');
}

.gamemenu__next {
    /* margin-left:20%; */
    background-position: right;
    background-image: url('images/arrow_right.png');
}

.calendar {
    display:flex;
    line-height: 21px;
    /* letter-spacing: -0.05em; */
    flex:2;
    align-items: center;

}
.calendar__icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('images/calendar.png');
    width:16px;
    height:16px;
    background-size: contain;
}

.calendar__date {
    flex:1;
    display: inline-block;
    color:white;
    padding-left:12px;
    font-size: 14px;
}


.matches {
    background-color: white;
  
    padding: 10px 40px;
}

.match {
    border: 1px solid rgb(204,208,211);
    background-color: white;
    margin-bottom:20px;
}


.match__heading {
    font-size:12px;
    padding:8px 16px;
    font-weight: bold;
    display: flex;
    letter-spacing: -0.07em;
}

.match__gametitle {
    color:rgb(17,32,43);
    flex:1;
}

.match__level {
    color:rgb(102,115,152);
    flex:1;
    text-align: right;
    
}

.match__level sup {
    vertical-align: top;
    font-size: 50%;
}


.match__result {
   
}

.match__info {
    display:flex;
    font-size:12px;
    padding:10px 16px;
   
    font-weight: bold;
    border-top: 1px solid rgb(204,208,211);
}
.match__final {
    flex:1;
    color:rgb(17,32,43);
    font-size:14px;
}
.match__ticket{
    color:rgb(102,115,152);
    flex:1;
    text-align: right;
}

.match__team {
    display:flex;
    padding: 0 10px;
    font-size:14px;
    font-weight: bold;
    align-items: center;
}

.match__host {
    color:rgb(17,32,43);
}

.match__guest {
    color:rgb(102,115,124);
    margin-bottom:4px;
}

.match__score {
    font-size:23px;
    letter-spacing: -0.05em;
    font-weight: normal;

}

.match__teamname {
    flex:1;
    padding-left:20px;
}
.match__icon {
    display: block;
    width:34px;
    height:34px;
}


.match__statistics {
    padding:7px 10px;
    background-color: rgb(243,244,245);
    color:rgb(17,32,43);
    font-size: 12px;
    border-top:1px solid rgb(232,233,234);
    border-bottom:1px solid rgb(232,233,234);
    text-align: center;
}

.match__navigation {
    display: flex;
    font-weight: bold;
    padding-top:5px;
    padding-bottom:5px;
}

.match__button {
    color: rgb(23,121,186);
    font-weight: bold;
    font-size: 12px;
    display:block;
    text-decoration: none;
    text-align: center;
    padding:10px 0;
    flex:1;
    border-right:1px solid rgb(232,233,234);
}
.match__button:last-child {
    border-right:none;
}

.footer {
    min-height:100px;
    background-color: rgb(254,254,254);
}

@media (min-width:480px) {
    .gamemenu {
        padding:12px 0;
    }
    .gamemenu__button {
        width: 15px;
        height: 27px;
    }
    .gamemenu__previous {
        margin-right:150px;
        background-position: right;
    }
    .gamemenu__next {
        margin-left:150px;
        background-position: left;
    }
}

@media (min-width: 640px) {
    .matches {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .match {
        flex: 49% 0 1;
    }
    .match__heading{
        padding-left:10px;
        padding-right:10px;
    }
    .match__info{
        padding-left:10px;
        padding-right:10px;
    }
}

@media (min-width: 1020px) {
    .match {
        flex: 33% 0 1;
    }
}

@media (min-width: 1280px) {
    .layer {
        width: 1280px;
        margin:0 auto;
    }
}

